@*@model IEnumerable<Busticket.Models.Bus>

    @{
        ViewBag.Title = "Vendor Busses";
        Layout = "~/Views/Shared/AdminView.cshtml";
    }

    <h2>VendorBusses</h2>

    <p>
        @Html.ActionLink("Create New Buses", "CreateBus")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vendor.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDay)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vendor.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.driver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDay)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBus", new { id=item.BusNo }) |
                @Html.ActionLink("Details", "DetailsBus", new { id=item.BusNo }) |
                @Html.ActionLink("Delete", "DeleteBus", new { id = item.BusNo })
            </td>
        </tr>
    }

    </table>*@




@model IEnumerable<Busticket.Models.Bus>

@{
    ViewBag.Title = "Vendor Busses";
    Layout = "~/Views/Shared/AdminView.cshtml";
}

<div class="container mt-5">
    <h2>Vendor Busses</h2>

    <div class="mb-3">
        @Html.ActionLink("Create New Buses", "CreateBus", null, new { @class = "btn btn-primary" })
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">BusNO : @item.BusNo</h5>
                        <p class="card-text">Seats: @item.seats</p>
                        <p class="card-text">Driver: @item.driver</p>
                        <p class="card-text">Origin: @item.Origin</p>
                        <p class="card-text">Destination: @item.Destination</p>
                        <p class="card-text">Departure Time: @item.StartDay</p>
                        <p class="card-text">Arrival Time: @item.EndDay</p>
                        <div>
                            @Html.ActionLink("Edit", "EditBus", new { id = item.BusNo }, new { @class = "btn btn-primary btn-sm mr-1" })
                            @Html.ActionLink("Details", "DetailsBus", new { id = item.BusNo }, new { @class = "btn btn-info btn-sm mr-1" })
                            @Html.ActionLink("Delete", "DeleteBus", new { id = item.BusNo }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure you want to delete this bus?')" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
