@model Busticket.Models.Booking

@{
    ViewBag.Title = "DelBooking";
    Layout = "~/Views/Shared/PassengerView.cshtml";
}

<h2>DelBooking</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusLog.BusNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusLog.BusNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passenger.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seat.SeatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seat.SeatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
